[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
numpy = "*"
pandas = "*"
chromedriver-binary = "==107.0.5304.62.0"
console-progressbar = "*"

[dev-packages]

[requires]
python_version = "3.9"
